{% extends 'layouts/base.html' %}
{% load static tag %}
{% block title %}
    chekout
{% endblock %}
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="{% url 'home' %}">Home</a>
                            <a href="{% url 'products' %}">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cart in object_list %}



                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="{{ cart.img_field.url }}" width="90" height="90" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>{{ cart.name }}</h6>
                                            <h5>$ {{ cart.real_price }}</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ 30.00</td>

                                    <td class="cart__close"><i class="fa fa-close" onclick="addCart({{ cart.id }})"></i>
                                    </td>


                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="#">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">

                    <div class="cart__total">
                        <h6>Cart total</h6>
                        {% cart request as info %}
                        <ul>
                            <li>Subtotal <span>{{ info.0 }}</span></li>

                        </ul>
                        <a href="{% url 'checkouted' %}" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% block extra_js %}
        <script>

            function addCart(productId) {
                let id = parseInt(productId)
                $.ajax({
                    url: '{% url 'cart' %}',
                    method: 'GET',
                    data: {
                        product_id: parseInt(id)
                    },
                    success: function (data) {
                        // Optionally handle the response data
                        console.log('Success:', data);

                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            }
        </script>
    {% endblock %}
    <!-- Shopping Cart Section End -->
{% endblock %}